@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

p{
    color: rgba(37, 36, 50, 0.5);
}
/* shared styles */

.logo, p {
    font-family: "Inter", sans-serif;
}

.raleway{
    font-family: "Raleway", sans-serif;
}

.bg-primary{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;

}


.btn-primary{
    background-color: rgb(78, 71, 255);
    padding: 12px 36px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


/* =========HEADER========= */

header{
    padding: 0px 150px 150px;
    background-image: url("../img/Hero-bg.png");
    background-repeat: no-repeat;
}

.header-nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: rgb(78, 71, 255) ;
    font-weight: 900;
}

.header-nav-title{
    font-size: 34px;
    margin: 0;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 37px;
    margin-top: 150px;
}

.hero-title{
    font-size: 65px;
    margin-left: 117px;
    margin-right: 117px;
    margin: 0;
}

/* =======main======= */

main{
    background-color: rgb(245, 248, 255);
}
main section{
    padding: 120px 150px;
}


/* =====action===== */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}

.action-title{
    font-size: 42px;
    margin: 0px 0px 25px;
}

.action-description{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 30px;

}

.action-img img{
    border-radius: 48px;
}



/* =====Users===== */

.users-statictic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 50px 150px;
}

.user-stat-title{
    font-size: 38px;
    line-height: 45px;

}

.primary{
    color: rgb(78, 71, 255);
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    font-family: "Inter", sans-serif;
}


.user-stat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 168px;
}

.user-sub-title{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
}


/* =====user===== */

.user-title{
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.user-title {
    text-align: center;
    margin-bottom: 50px;
}

.review-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review-card {
    padding: 24px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(242, 237, 237);
}

h6.review-title {
    font-size: 24px;
    line-height: 120%;
    margin: 24px 0;
    font-family: "Inter", sans-serif;
}

.review-description {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
    color: rgb(30, 30, 30);
    font-family: "Inter", sans-serif;
}

.reviewer-box{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: rgb(117, 117, 117);
}

/* =====Focus Section===== */

.focus-section{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(245, 248, 255);
    padding: 71px 150px;
    border-radius: 14px;
    text-align: center;
}

.focus-title{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.focus-description{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.img-container img{
    border-radius: 48px;
}

/* =====form section===== */

.form-section{
    padding: 71px 0px;
    display: flex;
    justify-content: space-between;
    gap: 115px;
    align-items: center;
}

.form-column{
    width: 50%;
}

.form-title{
    font-size: 97px;
    line-height: 1.2;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"], input[type="email"], textarea{
    padding: 20px 32px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 10px;
}

form label{
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}